name: "camera system"
version: "v0.0.1"
database:
  addr: "XXX.XX.XX.XXX:5432"
  user: "postgres"
  password: "XXXXX"
  db: "XXXX"
redis:
  host: "XXX.XXX.XX.XX"
  port: 6379
  password: "XXXXX"
  db: 0
  pool_size: 50
logger:
  # 日志保存天数
  max_age: 365
  # 日志分割周期/天
  rotation_time: 30
grpc_server:
  port: 8000
grpc_gw_server:
  port: 8001
# 阿里云短信
aliyun_sms:
  access_key_id: "XXXXXX"
  access_secret: "XXXXXXX"
  # 签名
  sign_name: "XXX"
  # 模板
  template_code: "XXX"
  scheme: "https"
  region_id: "cn-hangzhou"
# 验证码
code:
  # 注册验证码过期时间(s)
  register_ttl: 900
  # 再次获取注册验证码间隔时间(s)
  register_retry_ttl: 60
  # 登录验证码过期时间(s)
  login_ttl: 900
  # 再次获取获取验证码间隔时间(s)
  login_retry_ttl: 60
token:
  # token 有效期(s)
  expire: 2592000
  # 前缀
  prefix: "camera"

# 文件上传
upload:
  # 上传文件限制/bit
  size: 104857600
  # 是否使用oss文件对象存储
  enable_oss: true
oss:
  endpoint: "XXXXX"
  access_key_id: "XXXXX"
  access_key_secret: "XXXXXX"
  bucket_name: "XXXXXX"

