name: "web"
version: "v0.0.1"
database:
  addr: "xxx.xxx.xxx.xxx:5432"
  user: "USER"
  password: "PASSWORD"
  db: "DBNAME"
redis:
  host: "127.0.0.1"
  port: 6379
  password: ""
  db: 0
  pool_size: 20
logger:
  logger_file: "log.log"
grpc_server:
  port: 8000
grpc_gw_server:
  port: 8001
# 阿里云短信验证码
aliyun_sms:
  access_key_id: ""
  access_secret: ""
  # 签名
  sign_name: ""
  # 模板
  template_code: ""
  scheme: "http"
  region_id: "cn-hangzhou"
# 验证码
code:
  # 注册验证码过期时间(s)
  register_ttl: 900
  # 再次获取注册验证码间隔时间(s)
  register_retry_ttl: 60
  # 登录验证码过期时间(s)
  login_ttl: 900
  # 再次获取获取验证码间隔时间(s)
  login_retry_ttl: 60
